torch>=2.3.0
torch-geometric>=2.6.0
numpy>=1.26.0
pandas>=2.2.0
scikit-learn>=1.5.0
matplotlib>=3.9.0
# Jupyter support
ipykernel>=6.29.0
jupyter>=1.0.0
notebook>=7.0.0
git+https://github.com/Blealtan/efficient-kan.git
